body {
  box-sizing: border-box;
  background-color: rgb(252, 227, 227);
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: rgb(80, 117, 40)
}

.outerDiv {
  display: flex;
  justify-content: space-evenly;
}

.pictures {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
  gap: 18px;
  height: 100%;
}

.fruit {
  height: 204px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid rgb(80, 117, 40);
}

p {}

.hidden {
  display: none;
}