body {
  box-sizing: border-box;
  background-color: rgb(252, 227, 227);
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: rgb(80, 117, 40);
  font-family: 'Gloria Hallelujah', cursive;
}

.outerDiv {
  display: flex;
  justify-content: space-evenly;
}

.pictures {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
  gap: 18px;
  height: 100%;
}

.fruit {
  height: 204px;
  cursor: pointer;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid rgb(80, 117, 40);
}

p {
  margin: 0 100px;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
}

.modal {
  display: flex;
  background-color: rgb(252, 227, 227);
  color: rgb(80, 117, 40);
  z-index: 2;
  position: absolute;
  align-items: center;
  border: 2px solid rgb(80, 117, 40);
  justify-self: center;
  align-self: center;
}

.modalImg {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: none;
}

button {
  border-radius: 50%;
  cursor: pointer;
  order: 3;
  align-self: flex-start;
  color: rgb(80, 117, 40);
  border: 1px solid rgb(80, 117, 40);
  background-color: rgb(252, 227, 227);
  margin-top: -21px;
  margin-right: -21px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(252, 227, 227, .5);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.hidden {
  display: none;
}